.container {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 610px;
  width: 100%;
  background-color: var(--color-alpha);
  position: relative;
}

.wrapper {
  max-width: 387px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.16667px;
  text-transform: uppercase;
  color: var(--color-gamma);
  margin-bottom: 21px;
}

.desc {
  color: #ffffff;
}

.frame {
  max-width: 830px;
  width: 100%;
}

.img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 865px) {
  .frame {
    max-width: 273px;
  }
}

@media only screen and (max-width: 569px) {
  .title {
    font-size: 32px;
  }

  .container {
    flex-direction: column-reverse;
  }

  .frame {
    max-width: unset;
  }

  .content {
    height: 300px;
  }

  .wrapper {
    max-width: 318px;
  }

  .content::after {
    content: "";
    position: absolute;
    height: 6px;
    width: 128px;
    top: 0;
    left: 29px;
    background: var(--color-accent);
  }
}
