.container {
  display: flex;
  width: 100%;
}

.container:nth-child(2n) {
  flex-direction: row-reverse;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 610px;
  width: 100%;
  background-color: var(--color-alpha);
}

.contentContainer {
  /* max-width: 387px; */
  padding: 173px 112px 173px 111px;
}

.imgContainer {
  max-width: 830px;
  width: 100%;
}

.paragraph {
  color: var(--color-gamma);
  margin-top: 21px;
  margin-bottom: 48px;
}

img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1020px) {
  .contentContainer {
    /* max-width: 318px; */
    padding: 72px 24px 72px 33px;
  }
}

@media only screen and (max-width: 768px) {
  .imgContainer {
    max-width: 273px;
  }
}

@media only screen and (max-width: 480px) {
  .container,
  .container:nth-child(2n) {
    flex-direction: column-reverse;
  }

  .imgContainer {
    max-width: 480px;
    height: 270px;
  }

  .contentContainer {
    /* max-width: 318px; */
    /* padding: 72px 24px 72px 33px; */
  }

  .paragraph {
    margin-top: 16px;
    margin-bottom: 23px;
  }
}

/* last two images are only 600px height and first one is 650px height  maybe use flex instead of grid plus flex direction row reverse for second element  
thinking about using padding or max width  because only mobile needs spefic height for the content equals padding top and bottom 

give the content wraper 419px height instead of padding 
*/
