.container {
  display: flex;
  width: 100%;
  background-color: var(--color-gamma);
}

.container:nth-child(2n) {
  flex-direction: row-reverse;
}

.container:first-child {
  background-color: var(--color-alpha);
}

.container:first-child .paragraph,
.container:first-child .title {
  color: var(--color-gamma);
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 610px;
  width: 100%;
}

.contentContainer {
  padding: 173px 112px 173px 111px;
}

.imgContainer {
  max-width: 830px;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.16667px;
  text-transform: uppercase;
  color: var(--color-alpha);
}

.paragraph {
  color: var(--color-alpha);
  margin-top: 21px;
  margin-bottom: 48px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1020px) {
  .contentContainer {
    padding: 72px 24px 72px 33px;
  }
}

@media only screen and (max-width: 768px) {
  .imgContainer {
    max-width: 273px;
  }
}

@media only screen and (max-width: 480px) {
  .container,
  .container:nth-child(2n) {
    flex-direction: column-reverse;
  }

  .imgContainer {
    max-width: 480px;
    height: 270px;
  }

  .paragraph {
    margin-top: 16px;
    margin-bottom: 23px;
  }
}
