.container {
  text-align: center;
  max-width: 310px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-alpha);
  margin: 30px 0 16px 0;
}

.frame {
  height: 72px;
}

.description {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-alpha);
  opacity: 0.6;
}
