.list {
  list-style: none;
  display: flex;
  column-gap: 13.4px;
}

.icon {
  transition: all 0.3s ease-in-out;
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(131deg)
    brightness(103%) contrast(101%);
}

.icon:hover {
  filter: initial;
}

/* footer needs to be fixed */

@media only screen and (max-width: 769px) {
  footer .list {
    grid-row: 3;
  }
}

@media only screen and (max-width: 569px) {
  footer .list {
    grid-row: 2;
    margin-top: 32px;
  }
}
