.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 500px);
}

.date,
.author {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: var(--color-gamma);
}
