.grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, 360px);
  /* grid-template-rows: repeat(auto-fit, 500px); */
}

.background {
  height: 500px;
  display: flex;
  align-items: flex-end;
  transition: all 0.3s ease-in-out;
}

.background:hover {
  transform: translate3d(0px, -20px, 0px);
}

.background:hover::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  background: var(--color-accent);
}

.content {
  margin: 0 0 40px 40px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-gamma);
  margin: 4px 0;
}

.date,
.author {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: var(--color-gamma);
}

.line {
  width: 280px;
  height: 1px;
  background: var(--color-gamma);
  opacity: 0.25;
  margin: 16px 0 20px 0;
}

/* @media only screen and (max-width: 1020px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
  }
}

@media only screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 375px 375px 375px 375px;
  }
} */
