.container {
  min-height: 250px;
  background-color: var(--color-alpha);
  padding: 0 33px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  max-width: 1004px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, min-content);
}

.copy {
  grid-column: 3;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  color: var(--color-gamma);
  opacity: 0.5;
}

@media only screen and (max-width: 769px) {
  .grid {
    max-width: 689px;
    grid-template-columns: 1fr;
  }

  .copy {
    grid-column: 3;
    grid-row: 3;
  }
}

@media only screen and (max-width: 569px) {
  .container {
    min-height: 539px;
  }

  .grid {
    max-width: 310px;
    justify-items: center;
    align-content: center;
  }
  .copy {
    grid-column: 1;
    grid-row: 5;
    margin-top: 34px;
  }
}
