.container {
  display: flex;
  margin: 58px 165px 160px 165px;
  column-gap: 30px;
}

/* media query */

@media only screen and (max-width: 1222px) {
  .container {
    margin: 58px 60px 160px 60px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
}
